{% extends "blog/base.html" %}
{% block content %}

  <h1>About</h1>
    
  <p>This is Just an Experimental Server run under the SMIT Campus Network @ 10.51.6.173 (Port 80)</p>
  <p>This is just a test run for analysing and looking at the webapp under Django Web-Development Framework under Python 3.6+</p>
  <p>All the information you provide is being stored and the passwords are being hashed by SHA-256 protocol, which means only you can see the password that you set.</p>
  <p>By using this site, you agree upon that the information that you provide will be stored under this experimental server and can be harvested (except passwords)</p>
{% endblock content %}
